html{
	font-family: "Open Sans", Helvetica,Arial,sans-serif;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}


.logo {
	width: 350px;
	float: left;
    margin-top: 20px;
}

.logo img {
	width: 100%;
}

.flyer {
	width: 90%;
	padding-left: 10%;
}

.new-logo {
	text-align: center;
    width: 600px;
    margin: 0 auto;
}

.new-logo img {
	width: 100%;
}

.fb-cta {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 16px;
}

.cycling-logo {
	margin: 0 auto;
	display: block;
	width: 350px;
}

.logowrapper {
	width: 1000px;
	margin: 0 auto;
	height: 225px;
	background-color: white;

}

.cycleimage {
	width: 100%;
	background-size:cover;
  	height: 0;
  	padding-bottom: 30%;
  	background-position-y: -220px;
  	margin: 0 auto;
  	border-radius: 3px 3px 0px 0px;
}

.cycleimage.about-header {
	background-image: url('cycle.JPG');
}

.cycleimage.event-header {
	background-image: url('http://i.imgur.com/Km7hq0w.jpg');
}

.cycleimage.accom-header {
	background-image: url('http://i.imgur.com/Pqsjhgn.jpg');
}

.cycleimage.entry-header {
	background-position-y: 0px;
	background-image: url('http://i.imgur.com/ERHgxve.jpg');
}

.cycleimage.contact-header {
	background-position-y: -380px;
	background-image: url('http://i.imgur.com/odkNIeR.jpg');
}

.gallery-image {
	width: 650px;
	margin-bottom: 10px;
	border: 1px solid #666;
}

.subheading {
	font-size: 70px;
    padding-top: 3px;
    text-align: right;
}

.subheading span {
	font-size: 40px;
    line-height: 1em;
    display: inline-block;
    width: 650px;
}

.nav>li>a {
	text-align: center;
	border-radius: 3px 3px 3px 3px;
}

.navwrapper {

	color: white;
	width: 1000px;
	margin: 0 auto;
}
.nav-pills {
	display: flex;
    border-bottom: 1px dashed #a60000;
    padding: 8px 0px 8px 0px;
    background-color: #f7f7f7;
}

.nav>li {
	flex: 1;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #680001;
}

.content-wrapper {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 0px 0px 3px 3px;
    background-color: #fff;
}

.content-wrapper .content {
	width: 630px;
	float: left;
	padding-left: 50px;
	text-align: justify;
	font-size: 16px;
}

.content-wrapper.about {
	padding-bottom: 75%;
}

.content-wrapper.gallery {
	height: 15050px;
}
.content-wrapper.gallery.g2017 {
	height: 177500px;
}

.content-wrapper.accom {
	padding-bottom: 235%;
}

.content-wrapper.contact {
	padding-bottom: 30%;
}

.content-wrapper.entries {
	padding-bottom: 210%;
}

.content-wrapper .delfin {
	float: right;
	margin-right: 100px;
}

.content-wrapper.gmain {
	padding-bottom: 65%;
	height: 0px;
}

.content {
	background-color: #fff;
    padding: 0px 15px 15px 15px;
    font-size: 15px;
}
.clickpics1,
.clickpics2,
.clickpics3 {
	display: inline-block;
	width: 279px;
	float: left;
	margin: 1px;
}
.clickpics1 img{
	width:100%;

}
.clickpics2 img{
	width:100%;
}
.clickpics3 img{
	width:100%;
}

.photo {
	width: 280px;
	float: left;
	height: 425px;
	margin: 10px;
	position: relative;
	padding-left: 15px;
	border-radius: 5px;
	padding-top: 5px;
	box-shadow: inset 0 0 10px #ddd;

}
.photo img {
	max-height: 100%;
  max-width: 88%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.gmain {
	position: relative;
}
.gmain .delfin {
	float: right;
	position: absolute;
right: 114px;
margin-right: 0px;
}
.g2016 .content {
	width: 994px;
}
.g2017 .content {
	width: 994px;
}

/*.photos img {
	width:100px;
	height:100px;
}*/

.pre-accom {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	border: none;
	background-color: white;
	padding: 0;
	font-size: 1em;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
	color: #444;
}
