html{
	font-family: "Open Sans", Helvetica,Arial,sans-serif;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}


.logo {
	float: left;
}

.cycling-logo {
	margin: 0 auto;
	display: block;
	width: 350px;
}

.logowrapper {
	width: 1000px;
	margin: 0 auto;
	height: 225px;
	background-color: white;

}

.cycleimage {
	width: 100%;
	background-size:cover;
  	height: 0;
  	padding-bottom: 37%;
  	background-position-y: -220px;
  	margin: 0 auto;
}

.cycleimage.about-header {
	background-image: url('cycle.JPG');
}

.cycleimage.event-header {
	background-image: url('http://i.imgur.com/Km7hq0w.jpg');
}

.cycleimage.accom-header {
	background-image: url('http://i.imgur.com/Pqsjhgn.jpg');
}

.cycleimage.entry-header {
	background-position-y: 0px;
	background-image: url('http://i.imgur.com/ERHgxve.jpg');
}

.cycleimage.contact-header {
	background-position-y: -380px;
	background-image: url('http://i.imgur.com/odkNIeR.jpg');
}

.gallery-image {
	width: 650px;
	margin-bottom: 10px;
	border: 1px solid #666;
}

.subheading {
	font-size: 60px;
	padding-top: 26px;
}

.subheading span {
	font-size: 40px;
    line-height: 1em;
    display: inline-block;
    width: 650px;
}

.nav>li>a {
	padding: 10px 50px;
	border-radius: 3px 3px 0px 0px;


}

.navwrapper {

	color: white;
	width: 1000px;
	margin: 0 auto;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #8DD5E6;
}

.content-wrapper {
	padding-bottom: 58%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.content-wrapper .content {
	width: 630px;
	float: left;
	padding-left: 50px;
	text-align: justify;
	font-size: 16px;
}

.content-wrapper.about {
	padding-bottom: 75%;
}

.content-wrapper.gallery {
	height: 15050px;
}

.content-wrapper.events {
	padding-bottom: 105%;
}
.content-wrapper.accom {
	padding-bottom: 40%;
}

.content-wrapper.contact {
	padding-bottom: 30%;
}

.content-wrapper.entries {
	padding-bottom: 202%;
}

.content-wrapper .delfin {
	float: right;
	margin-right: 100px;
}

.content-wrapper.gmain {
	padding-bottom: 42%;
	height: 0px;
}

.content {
	background-color: #fff;
    padding: 0px 15px 15px 15px;
    font-size: 15px;
}
.clickpics1,
.clickpics2 {
	display: inline-block;
	width: 279px;
	float: left;
	margin: 1px;
}
.clickpics1 img{
	width:100%;

}
.clickpics2 img{
	width:100%;
}

.photo {
	width: 280px;
	float: left;
	height: 413px;
	margin: 10px;
	position: relative;
	border: 1px solid #ccc;
	padding-left: 15px;
	border-radius: 4px;
	background-color: #DEF1F7;
}
.photo img {
	max-height: 100%;
  max-width: 88%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.gmain {
	position: relative;
}
.gmain .delfin {
	float: right;
	position: absolute;
right: 114px;
margin-right: 0px;
}
.g2016 .content {
	width: 994px;
}

/*.photos img {
	width:100px;
	height:100px;
}*/
